@import 'https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:400,400i,700,700i|Neuton:400,400i,700';
.menu-button {
  background: transparent;
  border: none;
  color: #444;
  font-size: 1.4rem;
  font-family: "Lato", "Gill Sans", Calibri, sans-serif; }

nav[role="navigation"] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  background: #fdd78c;
  color: #fffff8;
  z-index: 1;
  transition: opacity 500ms ease-in-out, left 500ms ease-in-out;
  pointer-events: none;
  opacity: 0;
  box-shadow: 15px 5px 40px 5px rgba(227, 200, 173, 0.4), 60px 20px 90px rgba(0, 0, 0, 0.08); }
  nav[role="navigation"].open {
    opacity: 0.95;
    pointer-events: all;
    left: 0; }
  @media (min-width: 30em) {
    nav[role="navigation"] {
      width: 50%;
      left: -50%; } }
  @media (min-width: 61.25em) {
    nav[role="navigation"] {
      width: 23.9203125rem; } }
  nav[role="navigation"] ul {
    list-style: none;
    text-align: left;
    font-size: 2.1rem;
    font-family: "Lato", "Gill Sans", Calibri, sans-serif;
    text-transform: uppercase;
    line-height: 3.15rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    padding: 0;
    margin: 7.0875rem 20%; }
    @media (min-width: 48em) {
      nav[role="navigation"] ul {
        margin: 15.946875rem 7.0875rem; } }
    nav[role="navigation"] ul li {
      padding: 0;
      width: auto;
      margin: 0 auto;
      display: block; }
  nav[role="navigation"] a {
    color: #444;
    text-decoration: none;
    display: block; }

header[role="banner"] {
  position: fixed;
  top: 1em;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 1em 0;
  opacity: 0.95; }
  header[role="banner"] .header-wrapper {
    margin: 0 auto;
    width: 80%; }
    @media (min-width: 48em) {
      header[role="banner"] .header-wrapper {
        width: 75%;
        max-width: 25em;
        margin: 0 auto; } }

body {
  font-size: 0.9em;
  font-family: Neuton, "Georgia", serif;
  color: #444;
  background-color: #fffff8;
  margin: 0; }
  @media (min-width: 30em) {
    body {
      font-size: 1em; } }

::selection {
  background-color: #444;
  color: #fffff8; }

article {
  font-size: 0.9333333333rem;
  line-height: 2.1rem;
  width: 80%;
  position: relative;
  margin: 7.0875rem auto 7.0875rem; }
  @media (min-width: 30em) {
    article {
      font-size: 1.4rem; } }
  @media (min-width: 48em) {
    article {
      width: 75%;
      max-width: 25em;
      margin: 15.946875rem auto 15.946875rem; } }
  @media (min-width: 61.25em) {
    article {
      float: right;
      margin: 15.946875rem 10% 15.946875rem 15.946875rem;
      width: 65%; } }
  @media (min-width: 71.25em) {
    article {
      margin-right: 15%;
      width: 30.357142857em;
      max-width: none; } }
  @media (min-width: 80em) {
    article {
      margin: 15.946875rem auto 15.946875rem;
      float: none; } }
  article a {
    color: #444;
    text-decoration: none;
    background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#444, #444);
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
    background-position: 0% 99%, 100% 99%, 0% 99%; }
    article a:hover {
      color: #fdd78c;
      background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#fdd78c, #fdd78c);
      background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
      background-repeat: no-repeat, no-repeat, repeat-x;
      text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
      background-position: 0% 99%, 100% 99%, 0% 99%; }

@media (min-width: 48em) {
  .subtitle {
    font-size: 2.1rem;
    letter-spacing: 0.01em;
    line-height: 3.15rem;
    text-align: left;
    hyphens: none;
    -webkit-hyphens: none; } }

header:not([role="banner"])::after {
  height: 0;
  content: "";
  width: 4.725rem;
  border-top: #fdd78c solid 0.1843621399rem;
  display: block;
  margin-bottom: 3.15rem; }

p {
  font-size: 1.4rem;
  vertical-align: baseline;
  margin: 1.4rem 0 1.4rem;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto; }

h1,
h2,
h3 {
  font-family: "Abril Fatface", Neuton, "Georgia", serif;
  width: 80%;
  font-weight: 600; }

h4::after,
h5::after,
h6::after {
  content: "Consider reformatting your document.";
  color: red;
  margin-left: 0.9333333333rem;
  text-decoration: none;
  font-style: italic;
  font-weight: 400; }

h1 {
  font-size: 3.15rem;
  line-height: 3.15rem;
  margin: 0.6222222222rem 0 2.1rem;
  font-weight: 500; }
  @media (min-width: 38.75em) {
    h1 {
      font-size: 3.15rem; } }
  @media (min-width: 48em) {
    h1 {
      font-size: 4.725rem;
      line-height: 4.725rem; } }

h2 {
  font-size: 1.4rem;
  margin: 4.725rem 0 1.4rem;
  letter-spacing: 0.06em;
  line-height: 2.1rem;
  text-transform: uppercase;
  font-weight: 600; }
  @media (min-width: 48em) {
    h2 {
      font-size: 2.1rem;
      line-height: 3.15rem; } }
  h2::after {
    height: 0;
    content: "";
    width: 4.725rem;
    border-top: #fdd78c dotted 0.1229080933rem;
    display: block;
    margin: 0.9333333333rem 0 0; }

h3 {
  font-family: "Lato", "Gill Sans", Calibri, sans-serif;
  font-size: 1.4rem;
  margin: 4.725rem 0 1.4rem;
  letter-spacing: 0.05em;
  line-height: 2.1rem;
  font-weight: 700;
  text-transform: uppercase; }

blockquote {
  margin: 1.4rem 0 2.1rem;
  padding-left: 2.1rem;
  font-family: Neuton, "Georgia", serif;
  font-size: 1.4rem;
  line-height: 2.1rem;
  border-left: #fdd78c solid 0.1843621399rem; }
  @media (min-width: 61.25em) {
    blockquote {
      margin: 1.4rem 2.1rem 2.1rem 0; } }
  blockquote p {
    font-size: 1.4rem;
    line-height: 2.1rem; }
  blockquote footer {
    font-size: 0.9333333333rem;
    font-style: normal; }

.footnote {
  display: none;
  font-family: Neuton, "Georgia", serif;
  margin: 1.4rem 0 2.1rem 2.1rem;
  font-size: 1.4rem;
  line-height: 2.1rem; }
  @media (min-width: 61.25em) {
    .footnote {
      font-size: 0.9333333333rem;
      line-height: 2.1rem; } }
  .footnote.display {
    display: block; }
  @media (min-width: 61.25em) {
    .footnote {
      font-family: "Lato", "Gill Sans", Calibri, sans-serif;
      color: #6a6a6a;
      display: block;
      float: left;
      position: absolute;
      left: -15.946875rem;
      width: 13em;
      text-align: right;
      clear: both;
      margin: -2.1rem 0 1.4rem;
      padding: 0 2.1rem 0 0;
      font-size: 0.9333333333rem;
      line-height: 2.1rem; } }
  .footnote::before {
    content: attr(data-footnote-count);
    font-size: 0.9333333333rem;
    vertical-align: top;
    margin: 0 0.3em 0 0.15em;
    top: -0.4em;
    position: relative;
    font-family: Neuton, serif; }
  .footnote-label {
    cursor: pointer; }
    .footnote-label::after {
      content: attr(data-footnote-count);
      font-size: 0.9333333333rem;
      vertical-align: top;
      margin: 0 0.15em 0;
      top: -0.4em;
      position: relative;
      font-family: Neuton, serif; }
    @media (min-width: 98em) {
      .footnote-label {
        cursor: auto; } }

.sans {
  font-family: "Lato", "Gill Sans", Calibri, sans-serif;
  letter-spacing: 0.03em; }

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  p {
    font-weight: 500; }

  body {
    font-size: 1.55em; } }
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  p {
    font-weight: 500; }

  body {
    font-size: 1.55em; } }
