.menu-button
  background: transparent
  border: none
  color: $text
  font-size: ms(0)
  font-family: $sans
  text-transform: uppercase
  width: rem(40, 16)
  height: rem(40, 16)

nav[role="navigation"]
  position: fixed
  top: 0
  bottom: 0
  right: -100%
  width: 100%
  background: $accent
  color: $background
  z-index: 1
  transition: opacity 500ms ease-in-out, right 500ms ease-in-out
  pointer-events: none
  opacity: 0

  &.open
    opacity: 0.9
    pointer-events: all
    right: 0

  @include bp(30up)
    width: 50%
    right: -50%

  @include bp(61up)
    width: ms(7)

  ul
    list-style: none
    text-align: right
    font-size: ms(0)
    font-family: $sans
    text-transform: uppercase
    line-height: ms(1)
    font-weight: 400
    letter-spacing: 0.01em
    padding: 0
    margin: ms(4) 20%

    @include bp(30up)

    @include bp(48up)
      margin: ms(6) ms(4)

    li
      padding: 0
      width: auto
      margin: 0 auto
      display: block

  a
    color: $text
    text-decoration: none
    display: block

header[role="banner"]
  position: fixed
  top: 1em
  left: 0
  right: 0
  z-index: 99
  padding: 1em 0
  opacity: 0.95

  .header-wrapper
    margin: 0 auto
    width: 80%
    text-align: right
    box-sizing: border-box

    @include bp(48up)
      width: 100%
      padding: 0 ms(4)
      margin: 0
