@import 'https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:400,400i,700,700i|Neuton:400,400i,700'

@import 'modular-scale/modular-scale'
@import 'mixins'
@import 'nav'

body
  font-size: 0.9em
  font-family: Neuton, "Georgia", serif
  color: $text
  background-color: $background
  margin: 0

  @include bp(30up)
    font-size: 1em

//  &::before
//    content: ""
//    position: fixed
//    width: 100%
//    top: 0
//    border-top: ms(0) solid $accent
//    z-index: 999

::selection
  background-color: $text
  color: $background

article
  font-size: ms(-1)
  line-height:  ms(1)
  width: 80%
  position: relative
  margin: ms(4) auto ms(4)

  @include bp(30up)
    font-size: ms(0)

  @include bp(48up)
    width: 75%
    max-width: 25em
    margin: ms(6) auto ms(6)

  @include bp(61up)
    float: right
    margin: ms(6) 10% ms(6) ms(6)
    width: 65%

  @include bp(71up)
    margin-right: 15%
    width: 30.357142857em
    max-width: none

  @include bp(80up)
    margin: ms(6) auto ms(6)
    float: none

  a
    color: $text
    text-decoration: none
    background: linear-gradient($background, $background), linear-gradient($background, $background), linear-gradient($text, $text)
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px
    background-repeat: no-repeat, no-repeat, repeat-x
    text-shadow: 0.03em 0 $background, -0.03em 0 $background, 0 0.03em $background, 0 -0.03em $background, 0.06em 0 $background, -0.06em 0 $background, 0.09em 0 $background, -0.09em 0 $background, 0.12em 0 $background, -0.12em 0 $background, 0.15em 0 $background, -0.15em 0 $background
    background-position: 0% 99%, 100% 99%, 0% 99%

    &:hover
      color: $accent
      background: linear-gradient($background, $background), linear-gradient($background, $background), linear-gradient($accent, $accent)
      background-size: 0.05em 1px, 0.05em 1px, 1px 1px
      background-repeat: no-repeat, no-repeat, repeat-x
      text-shadow: 0.03em 0 $background, -0.03em 0 $background, 0 0.03em $background, 0 -0.03em $background, 0.06em 0 $background, -0.06em 0 $background, 0.09em 0 $background, -0.09em 0 $background, 0.12em 0 $background, -0.12em 0 $background, 0.15em 0 $background, -0.15em 0 $background
      background-position: 0% 99%, 100% 99%, 0% 99%

.subtitle

  @include bp(48up)
    font-size: ms(1)
    letter-spacing: 0.01em
    line-height: ms(2)
    text-align: left
    hyphens: none
    -webkit-hyphens: none

header:not([role="banner"])::after
  height: 0
  content: ""
  width: ms(3)
  border-top: $accent solid ms(-5)
  display: block
  margin-bottom: ms(2)

p
  font-size: ms(0)
  vertical-align: baseline
  margin: ms(0) 0 ms(0)
  text-align: justify
  hyphens: auto
  -webkit-hyphens: auto

h1,
h2,
h3
  font-family: 'Abril Fatface', Neuton, "Georgia", serif
  width: 80%
  font-weight: 600

h4::after,
h5::after,
h6::after
  content: "Consider reformatting your document."
  color: red
  margin-left: ms(-1)
  text-decoration: none
  font-style: italic
  font-weight: 400

h1
  font-size: ms(2)
  line-height: ms(2)
  margin: ms(-2) 0 ms(1)
  font-weight: 500

  @include bp(38up)
    font-size: ms(2)

  @include bp(48up)
    font-size: ms(3)
    line-height: ms(3)

h2
  font-size: ms(0)
  margin: ms(3) 0 ms(0)
  letter-spacing: 0.06em
  line-height: ms(1)
  text-transform: uppercase
  font-weight: 600

  @include bp(48up)
    font-size: ms(1)
    line-height: ms(2)

  &::after
    height: 0
    content: ""
    width: ms(3)
    border-top: $accent dotted ms(-6)
    display: block
    margin: ms(-1) 0 0

h3
  font-family: "Lato", "Gill Sans", Calibri, sans-serif
  font-size: ms(0)
  margin: ms(3) 0 ms(0)
  letter-spacing: 0.05em
  line-height: ms(1)
  font-weight: 700
  text-transform: uppercase

blockquote
  margin: ms(0) ms(1) ms(1) 0
  padding-left: ms(1)
  font-style: italic
  font-family: "Lato", "Gill Sans", Calibri, sans-serif
  font-size: ms(-1)
  line-height: ms(0)
  border-left: $accent solid ms(-5)

  p
    font-size: ms(-1)
    line-height: ms(1)


  footer
    text-align: right

.footnote
  display: none
  font-family: "Lato", "Gill Sans", Calibri, sans-serif
  margin: ms(0) 0 ms(1) ms(1)
  font-size: ms(-1)
  line-height: ms(1)

  &.display
    display: block


  @include bp(61up)
    color: $aside
    display: block
    float: left
    position: absolute
    left: -(ms(6))
    width: 13em
    text-align: right
    clear: both
    margin: -(ms(1)) 0 ms(0)
    padding: 0 ms(1) 0 0
    font-size: ms(-1)
    line-height: ms(1)

  &::before
    content: attr(data-footnote-count)
    font-size: ms(-1)
    vertical-align: top
    margin: 0 0.3em 0 0.15em
    top: -0.4em
    position: relative
    font-family: Neuton, serif

  &-label
    cursor: pointer

    &::after
      content: attr(data-footnote-count)
      font-size: ms(-1)
      vertical-align: top
      margin: 0 0.15em 0
      top: -0.4em
      position: relative
      font-family: Neuton, serif

    @include bp(98up)
      cursor: auto

.sans
  font-family: "Lato", "Gill Sans", Calibri, sans-serif
  letter-spacing: .03em

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait)
  p
    font-weight: 500

  body
    font-size: 1.55em

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape)
  p
    font-weight: 500

  body
    font-size: 1.55em
